html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th,
td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0;
padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body {
line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }


#zoneDessin {
   position:relative;
   width:870px;
   height:600px;
}

#splash_accueil {
   position:absolute;
   top:0;
   left:0;
   width:870px;
   height:600px;
   z-index:1000;
   background-color:#000;
}
   #splash_accueil h1, #splash_accueil p {
      width:600px;
      margin:30px auto 10px;
      color:#D7D7D7;
   }
   #splash_accueil h1 {
      font-size:1.5em;
      text-align:center;
   }
   #splash_accueil p {
      text-align:justify;
   }
   #splash_accueil #commencerDessin {
      display:block;
      text-align:center;
      width:360px;
      margin:0 auto;
      background-color:#FFF;
      color:#79B2C4;
      padding:8px;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      text-decoration:none;
      cursor:default;
   }
      #splash_accueil #commencerDessin.kinectOk {
         background-color:#BCD8E1;
         color:#FFF;
         cursor:pointer;
      }
      
   #splash_accueil p.plus-infos {
      font-size:0.7em;
   }
      #splash_accueil p.plus-infos a {color:#BCD8E1; cursor:pointer;}

#posKinect {
   position:absolute;
   top:0;
   left:0;
   z-index:10;
}

#canvasSlider {
   position:absolute;
   top:0;
   left:0;
   width:870px;
   height:600px;
   overflow:hidden;
}
   #canvasSliderContent {
      position:absolute;
      left:-800px;
      width:4000px;
      height:600px;
   }

   #configuration {
      position:relative;
      width:800px;
      height:600px;
   }
      #configuration a {
         display:block;
         position:absolute;
         width:100px;
         height:100px;
      }
      
      #savePng {
         bottom:50px;
         right:50px;
         background:url(../img/save.png) no-repeat top left;
      } #savePng.hover {background-image:url(../img/save_hover.png);}
      
      a.colorSelector {
         border:3px solid #000;
         border-radius: 53px;
         -webkit-border-radius: 53px;
         text-indent:-9000em;
      } a.colorSelector.hover { border-color : #00b4ff;}
      
         #colorWhite { top:20px; left:20px; background-color:rgb(255,255,255); }
         #colorRed   { top:20px; left:140px; background-color:rgb(255,0,0); }
         #colorGreen { top:20px; left:260px; background-color:rgb(0,255,0); }
         #colorBlue  { top:20px; left:380px; background-color:rgb(0,0,255); }
      

   #barre_laterale {
      background-color:#C6C6C6;
      display:block;
      width:70px;
      height:600px;
   }
      
   #toile {
   }

.floatLeft {
   float:left;
}


